{% block sw_cms_block_image_text_reversed_preview %}
   <div>
<h2 style="text-align: center;"><font color="#ffffff">Mollie</font></h2><div style="text-align: center;"><a target="_blank" href="https://status.mollie.com/" rel="noopener" class="btn btn-primary">https://status.mollie.com/</a><br></div>
</div>
<div>
<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="164461/"></script> <!-- end feedwind code -->
</div>

{% endblock %}
